.app {
  max-width: 100%;
  width: 500px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 20px 0 20px 0;
}

.warning {
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.5);
  color: white;
}

h1 {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0.5);
  border-top: 1px solid rgba(0,0,0.5);
}

.add-todo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-todo input {
  height: 30px;
  width: 70%;
  border-radius: 0px;
  border: 2px solid darkgray;
  padding: 0 5px 0 5px;
}

.add-todo input:focus {
  border: 2px solid rgb(255, 0,0);
}

.delete {
  width: 20px;
  height: 100%;
  color: darkgray;
  margin-left: 10px;
  cursor: pointer;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete:hover {
  color: black;
}

.add-todo button {
  height: 30px;
  width: 20%;
  border-radius: 0px;
  border: 2px solid darkgrey;
  cursor: pointer;
  background: white;
  color: darkgrey;
  font-weight: bold;
}

.add-todo button:hover {
  background: red;
  color: white;
  border-color: red;
}

.list {
  width: 100%;
  list-style: none;
}

.item {
  width: 100%;
  min-height: 40px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  word-break: break-all;
}

.unchecked:hover {
  background: rgba(255, 0, 0, 0.2);
}

.unchecked, .checked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.5);
  margin-right: 10px;
  cursor: pointer;
}

.checked {
  background: rgba(255, 0, 0, 0.6);
}

.undone {
  color: black;
  width: calc(100% - 60px);
}

.done {
  color: gray;
  text-decoration: line-through;
  width: calc(100% - 60px);
}