* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(39, 37, 37);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 10px 10px 10px;
}

button::-moz-focus-inner {
  border: 0;
}


